/* ------------------Global settings------------------- */
:root {
  --accent-color: #ff6c00;
  --headers-color: #303030;
  --text-color: #555555;
  --secondary-header-color: #ffffff;
  --secondary-text-color: #9da4bd;
  --secondary-pre-header-color: #9da4bd99;
  --background-color: #ffffff;
  --secondary-background-color: #f7f7f7;
  --footer-background-color: #191c26;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid rgb(13, 5, 238);
}
/* --------------Same attributes----------------- */
.btn {
  min-width: 160px;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  cursor: pointer;
}
.btn:is(:hover, :focus) {
  background-color: var(--accent-color);
}

.pre-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
}
.pre-title::before {
  content: "";
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

/* ----------------Header---------------- */
.header {
}
.header-wrap {
  padding-top: 32px;
  align-items: center;
  background-color: var(--footer-background-color);
}
.header-bc {
  margin-left: auto;
}
.header-navigation {
  display: flex;
  background-color: ;
}
.logo {
  width: 85px;
  background-color: #fff;
}
.header-list {
  padding-left: 100px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-item {
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--secondary-header-color);
}
.phone {
  margin-right: 43px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-header-color);
}
.header-link:is(:hover, :focus),
.phone:is(:hover, :focus) {
  color: var(--accent-color);
}
.header-btn {
  color: var(--secondary-header-color);
}

/* ----------------Hero---------------- */
.hero {
}
.hero-wrap {
  display: flex;
}
.social-list {
  width: 85px;
}
.social-item {
}
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--headers-color);
}
.social-link:is(:hover, :focus) {
  color: var(--accent-color);
}
.hero-title-wrap {
  flex-grow: 1;
  padding-top: 175px;
  padding-left: 100px;
  padding-bottom: 204px;
  background-color: var(--footer-background-color);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-pre-title {
  margin-bottom: 20px;
  color: var(--secondary-pre-header-color);
}
.hero-title {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--secondary-header-color);
}
.hero-after-title {
  max-width: 360px;
  color: var(--secondary-text-color);
}
/* .hero-btn-list {
}
.hero-btn-item {
}
.hero-btn {
}
.back {
}
.forward {
} */
/* ----------------About---------------- */
.about {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-wrap {
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
  flex-shrink: 0;
}
.about-item {
}
.about-pre-title {
  margin-bottom: 20px;
  color: var(--headers-color);
}
.about-title {
  margin-bottom: 20px;
  color: var(--headers-color);
}
.about-after-title {
  margin-bottom: 20px;
  color: var(--text-color);
}
.about-text {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
.about-btn {
  color: var(--headers-color);
}
.about-btn:is(:hover, :focus) {
  color: var(--secondary-header-color);
}
/* ----------------Prices---------------- */
.prices {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #111319;
  background-image: url(../images/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.prices-wrap {
  display: block;
}
.prices-pre-title {
  margin-bottom: 20px;
  color: var(--secondary-pre-header-color);
}
.prices-title {
  margin-bottom: 44px;
  color: var(--secondary-header-color);
}
.prices-list-wrap {
  display: flex;
  margin-bottom: 44px;
  justify-content: space-between;
}
.prices-list {
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}
.prices-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}
.prices-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}
.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}
.prices-item + .prices-item {
  margin-top: 20px;
}
.prices-item::before {
  content: "";
  width: 60px;
  height: 1px;
  flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
}
.prices-item-text {
  color: var(--secondary-text-color);
}
.prices-item-text:first-child {
  order: -1;
}
.prices-btn {
  display: block;
  margin: 0 auto;
  color: var(--secondary-header-color);
}

/* ----------------Benefits---------------- */
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 54px;
  max-width: 570px;
  gap: 30px;
}

.benefits-item {
  padding: 20px 24px;
  width: 170px;
  height: 133px;
  background-color: var(--secondary-background-color);
}
.benefits-item:nth-child(even) {
  margin-top: 30px;
}
.benefits-item > span {
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--headers-color);
}
.benefits-item > span::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  vertical-align: top;
  color: var(--accent-color);
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
}
.benefits-wrap {
  max-width: 500px;
  padding-top: 9px;
}
.benefits-pre-title {
  margin-bottom: 20px;
}
.benefits-title {
  max-width: 430px;
  margin-bottom: 20px;
}

/* ----------------Barbers---------------- */
.barbers {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--secondary-background-color);
}
.barbers-container {
  display: block;
}
.barbers-pre-title {
  margin-bottom: 20px;
}
.barber-title {
  margin-bottom: 44px;
}
.barber-list {
  display: flex;
  gap: 30px;
}

.barber-item {
}
.barber-bio {
  padding-top: 30px;
}
.barber-name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--headers-color);
}
.barber-desc {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  color: var(--accent-color);
}

.barber-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.list {
}
.barber-social-item {
  width: 44px;
  height: 44px;
  background-color: var(--background-color);
  border-radius: 50%;
}
.barber-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.barber-social-icon {
}
