/* ------------------Global settings------------------- */
:root {
  --accent-color: #ff6c00;
  --headers-color: #303030;
  --text-color: #555555;
  --secondary-header-color: #ffffff;
  --secondary-text-color: #9da4bd;
  --secondary-pre-header-color: #9da4bd99;
  --background-color: #ffffff;
  --secondary-background-color: #f7f7f7;
  --footer-background-color: #191c26;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}